{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block title %}메인페이지{% endblock %}
{% block og_title %}메인페이지{% endblock %}
{% block description %}설명{% endblock %}
{% block current_url %}http://localhost{{ request.get_full_path }}{% endblock %}
{% block img %}http://localhost/static/logo.ico{% endblock %}

{% block top_script %}
{% endblock %}

{% block lesson %}
{% endblock %}

{% block full %}
    {% include "components/modals/home_modal.html" with popups=home_popup_modals %}
{% endblock %}

{% block top %}
{% endblock %}

{% block middle_left %}
{% endblock %}

{% block middle_right %}
{% endblock %}

{% block bottom_script %}
{% endblock %}
