{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block title %}메인페이지{% endblock %}
{% block og_title %}메인페이지{% endblock %}
{% block description %}천방지축 NULL이 잡다한 IT 자료를 올리는 블로그{% endblock %}
{% block current_url %}https://nulls.co.kr{{ request.get_full_path }}{% endblock %}
{% block img %}https://nulls.co.kr/static/logo.ico{% endblock %}

{% block script %}
{% endblock %}

{% block lesson %}
{% endblock %}

{% block top %}
{% endblock %}

{% block middle_left %}
{% endblock %}

{% block middle_right %}
{% endblock %}
